<% layout('layouts/boilerplate') %>
<h1>All Slopes</h1>
<div>
  <a href="/slopes/new">Add slope</a>
</div>
<ul>
  <% for (let slope of slopes) {%>
  <li><a href="/slopes/<%= slope._id %>"><%= slope.title %></a></li>
  <% } %>
</ul>
