<% layout('layouts/boilerplate') %>
<form action="/slopes" method="POST">
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" name="slope[title]" />
  </div>
  <div>
    <label for="location">Location</label>
    <input type="text" id="location" name="slope[location]" />
  </div>
  <button>Add Slope</button>
</form>
<a href="/slopes">All slopes</a>
